<h1>Série Exercices Property Binding</h1>

<p>
  Lier la valeur de la propriété monTitre à l'attribut title sur la div en
  dessous
</p>
<div [title]="monTitre">Survole pour voir le titre</div>

<hr />

<p>
  Lier la valeur de la propriété estCacher à l'attribut hidden sur la div en
  dessous
</p>
<div [hidden]="estCacher">Message secret</div>

<hr />

<p>
  Lier la valeur de la propriété urlImage à l'attribut src sur l'img en dessous
  (attention il y a un piège 😉)
</p>
<img [src]="urlImage" />

<hr />

<p>
  Lier la valeur de la propriété maValeur à l'attribut value sur l'input en
  dessous
</p>
<input [value] = "maValeur" type="number" />
